body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #decaa6;
}

h1, h2 {
  text-align: center;
  color: #c07c4c;
}
h3 {
  margin: 0px;
}
.header-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: calc(25vh);
  opacity: 75%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  background-color:#d27d40;
  border: none;
}

.img {
  max-height: 150px;
}
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#search-query {
  font-size: 16px;
  padding: 8px;
  border: none;
  box-shadow: 0px 1px 2px rgba(65, 61, 61, 0.1);
  border-radius: 10px 0 0 10px;
  width: 70%;
  background: #e7d0b6;
}
#search-query:focus {
  outline: none;
  background: #e7d0b6
}

button[type="submit"] {
  font-size: 16px;
  color: #8e3607;
  background-color: #cd6025;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 8px 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ea8853;
}
.book-cover{
  max-height: 199px;
}

#results {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 95%;
  width: 80%;
  margin: auto;
}

.book {
  margin: 5px;
  text-align: center;
  max-width: 200%;
  max-height: 300%;
}

.book img {
  size-adjust: 200px;
  max-height: 200%;
}

.results {
  display: flex;
  overflow-x: scroll;
  margin: 20px;
  height: 65%;
}

.result-cover {
  width: 150%;
  height: 150%;
}

#library {
  width: 80%;
  margin: auto;
}

#library h2 {
  text-align: center;
}

#library-books{
  display: flex;
  overflow-y: visible;
  white-space: nowrap;
  margin: auto;
  height: fit-content;

}

table {
  width: 80%;
}

#book-description {
  width: 80%;
  margin: auto;
  font-size: small;
}

.add-to-library {
  padding: 10px;
  background-color: #b4510b;
  color: #f2984e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #decaa6;
}

::-webkit-scrollbar-thumb {
  background-color: #b4510b;
}
.reading-info {
  font-size: 14px;
}
.date-container {
  display: flex;
  font-size: smaller;
}
.start-reading-button {
  background-color: #d27d40;
  border-width: thin;
  border-color: #592602;
}
.remove-button {
  background-color: #decaa6;
}