body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #decaa6;
}

h1, h2 {
  text-align: center;
  color: #c07c4c;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-form {
  display: flex;
  justify-content: center;
  margin: 20px;
  color:#b4510b ;
}

#search-query {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 70%;
  background-color: #decaa6;
}

button[type="submit"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #b4510b;
  color: #000000;
  cursor: pointer;
}

#results {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 95%;
  width: 80%;
  margin: auto;
}

.book {
  margin: 1rem;
  text-align: center;
  max-width: 200%;
  max-height: 300%;
}

.book img {
  size-adjust: 200px; 
}

.results {
  display: flex;
  overflow-x: scroll;
  margin: 20px;
  height: 65%;
}

.result-cover {
  width: 150%;
  height: 150%;
}

#library {
  width: 80%;
  margin: auto;
}

#library h2 {
  text-align: center;
}

#library-books {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  margin: auto;

}

table {
  width: 80%;
}

#book-description {
  width: 80%;
  margin: auto;
  font-size: small;
}

.add-to-library {
  padding: 10px;
  background-color: #b4510b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #c0ad85;
}

::-webkit-scrollbar-thumb {
  background-color: #7d7171;
}
.reading-info {
  font-size: 14px;
}
.date-container {
  display: flex;
  font-size: smaller;
}
.start-reading-button {
  background-color: #d27d40;
}